<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>Pizzeria</title>  
  </head>
  <body >
    <header>
      <div th:replace="fragments :: navbar('index')"></div>
    </header>
    <main>
      <div class="container text-center w-75 mt-3">
        <h1>Pizzeria</h1>
        <hr>
        <h2>Benvenuto nella nostra pizzeria!</h2>
        <hr>
        <h3>
          Dai un'occhiata alla nostra selezione di pizze!
        </h3>
        <a class="btn btn-danger" th:href="@{/pizzas}">Clicca qui!</a>
    </div>
    </main>   
    <footer>
      <div th:insert="fragments :: footer"></div>
    </footer>
    
  </body>
</html>
